<h1>Angular DataTable Pagination Sorting Searching Example</h1>
<table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
  <thead>
    <tr>
      <th>
        <mfDefaultSorter by="name">MemberName</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="email">MemberEmail</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="age">Date of Birth</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="city">Member City</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="city">Age</mfDefaultSorter>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let member of mf.data">
      <td>{{member.name}}</td>
      <td>{{member.email}}</td>
      <td>{{member.dob | date:"fullDate"}}</td>
      <td>{{member.city | uppercase}}</td>
      <td>{{member.dob | age }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
    </tr>
  </tfoot>
</table>



<h3>Angular 6 Smart Table Example</h3>

<app-members></app-members>
